  /* Create an accessible color palette using var()function */
  /* https://www.w3schools.com/css/css3_variables.asp */
  
  form {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid #ccc;
    border-radius: 16px;
    width:70%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333333;
    background: #f4f4f4;
  }

  .radio {
    grid-column-start: 1;
    grid-column-end: 3;
    /* background: #575294; */
    color: #333333;
  }

  #name {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background: #ffffff;
    color: #333333;
  }

  #message {
    width: 100%;
    padding: 10px;
    resize: vertical;
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid #AAAAAA;
    background: #ffffff;
    color: #333333;
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #004085;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #002752;
  }

body {
  font-family: Jost, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 20px;
  width: 400px;
}

form, input, textarea, button {
  font-family: Jost, sans-serif;
}

.button {
  width: 100%;
  padding: 10px;
}

.skip-link {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  top: auto;
}

.skip-link:focus, .skip-link:active {

  left: 0;
  width: auto;
  height: auto;
  overflow: visible;
  top: 0;
  z-index: 999;
}